.front-banner{
    width: 33%;
    /* padding: 20px; */
    /* border: 30px red; */
    /* border-color: red; */
}

.border-div{
    border: 30px red; 
}

h1{
    font: "Times New Roman";
    font-family: cursive;
}