#titles{
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
}

#titles:after{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	top: 0;
	pointer-events: none;
}


#titlecontent{
	position: absolute;
	top: 100%;
    animation: scroll 100s linear 1s infinite;
    animation-iteration-count: infinite; 
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

#asset {
    visibility: hidden;
    animation: assetAnim 2s 1;
    animation-delay: 1s;

    height: 400px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

@-webkit-keyframes assetAnim {
    0% { opacity: 0.0; visibility: visible;}
    100% { opacity: 1.0; visibility: visible;}
}